<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
 <div class="container">
    <h3 class="text-left">Sport Category Application</h3>
    <ul class="nav nav-tabs">
    <li><a href="{{url_for('showSportCategory')}}">Home</a></li>
    <li><a href="{{url_for('showLogin')}}"><span class="glyphicon glyphicon-log-on"></span> Log In </a></li>
    <li><a href="{{url_for('disconnect')}}"><span class="glyphicon glyphicon-log-off"></span> Log Off </a></li>
  </ul>
</div>

 {% block body %}{% endblock %}
</html>