
{% extends "layout.html" %}
{% block body %}
<html>
	<head>
		<script type="text/javascript"></script>
		<title>New Menu Item</title>
	<body>
		<div class="container">
			<h1 class="text-left">New Menu Item</h1>
			<form action="#" method = 'post'>
				<p>Name:</p>
				<input type ='text' size='30' name='name' class="form-control">
				<p>Description:</p>
				<input type ='text' size='30' name='description' class="form-control">
				</br>
				<input type='submit' value='Create' class="btn btn-default">
			</form>
		</div>
	</body>
</html>
{% endblock %}