{% extends "main.html" %}
{% block content %}
{% include "layout.html" %}

<html>
	<head>
 		<script type="text/javascript"></script>
		<title>Sports Category</title>
	</head>
	<body>
  {% with messages = get_flashed_messages() %}
          {% if messages %}
              <ul>
            {% for message in messages %}
                <div class="alert alert-success">
                  <strong> {{ message }} </strong>
                </div>
              {% endfor %}
            </ul>
          {% endif %}
      {% endwith %}
	    <div>
	    	<br></br>
	    	<a href="{{url_for('newSportCategory')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span> Create a New Sport Category</a>
			<a href="{{url_for('sportcategoryJSON')}}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-info-sign"></span> JSON All SportCategory</a>
		<div/>
  <br></br>
		</ul>	
	<div class="bs-example">
    <table class="table table-hover">
        <thead>
            <tr>
              <th><h1 class="text-left">Sports</h1></th>
  		</tr>
        </thead>
        {% for i in sportcategory %}
        <tbody>
            <tr>
				 <td><a href="{{url_for('showMenu', sportCategory_id=i.id)}}"><p>{{i.name}}</p></a></td>
             </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

	</body>
</html>
{% endblock %}
